
<div class="container-fluid content-central">
  <div class="row">
    <div class="col-md-8">
      <h1>Contrata a expertos para tus proyectos de software</h1>
      <p>GooBuild une a los mejores profesionales de software y los pone a disposición para el desarrollo
        de proyectos online.</p>
    </div>
    <div class="col-md-4">
      <div class="margin40">
        <a href="#" class="btn btn-default btn-green">Buscar Profesionales</a>
      </div>
    </div>
  </div>
</div>