
<%= render 'shared/welcome' %>

<div class="container-fluid content-central">
  <div class="row">
    <div class="col-md-10">
      
    </div>
    <div class="col-md-2">

    </div>
  </div>
</div>
