
<div class="container-fluid content-central">
  <div class="row">
    <div class="col-xs-12">
      <h1>Proyectos para desarrollo web</h1>
      <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua.</h3>
    </div>
  </div>
</div>
