// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.item-project {
    background: #fff;
    border: 1px solid #ccc;
    margin: 5px 0;
}
.glyphicon-calendar {
  color: #F2992C;
}
.glyphicon-usd {
  color: #53B98A;
}
.glyphicon-tags {
  color: #FF2626;
}
.desc.date {
  font-size: 14px;
  color: #33465D;
  font-weight: bold;
}
