// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.item-project {
    background: #fff;
    border: 1px solid #ccc;
    margin: 15px 0;
}