$break-small: 320px;
$break-tablet: 768px;
$break-large: 1200px;

body {
  font-family: Verdana, sans-serif;
  background-color: #eee;
}
h1, h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
}

header {
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
}
.content {
    margin-left: 250px;
    @media screen and (max-width: $break-tablet) {
      margin-left: 0px;
    }
    margin-top: 50px;
    display: inline-block;
}
.container-menu {
  margin: 0;
  padding: 0;
  display: block;
  box-shadow: 0 1px 8px rgba(0, 0, 0, .3);
}
.container-menu .navbar {
  border-radius: 0;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  border-radius: none;
  background-color: #e7e7e7;
  color: #333;
}
.content-central {
  background-color: #eee;
}
.navbar-default {
  background-color: #fff;
  border-color: #e7e7e7;
}
.navbar-brand.logo {
  margin-right: 0px;
  @media screen and (max-width: $break-tablet) {
    margin-right: 0px;
  }
}
ul.nav.navbar-nav {
  float: right;
  @media screen and (max-width: $break-tablet) {
    float: none;
  }
}
.form-control.search {
  min-width: 250px;
  width: 60%;
}
.btn-green.search {
  position: relative;
  left: -50px;
  height: 30px;
  border: 0;
  background-color: #FFF;
  color: #74bc60;
}
.navbar-form .form-control.search {
  width: 300px;
}
