<div class="container-menu">

      <nav class="navbar navbar-default" role="navigation">
        <!-- El logotipo y el icono que despliega el menú se agrupan
             para mostrarlos mejor en los dispositivos móviles -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse"
                  data-target=".navbar-ex1-collapse">
            <span class="sr-only">Desplegar navegación</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to(root_path, :class => 'navbar-brand logo', :title => 'GooBuild') do %>
            <%= image_tag('logo-goobuild.png', size: '114x20', alt: 'GooBuild') %>
          <% end %>
        </div>

        <!-- Agrupar los enlaces de navegación, los formularios y cualquier
             otro elemento que se pueda ocultar al minimizar la barra -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control input-lg" placeholder="Buscar">
              </div>
              <button type="submit" class="btn btn-default">Enviar</button>
            </form>
            <li class=""><a href="#">Crea un Proyecto</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Desarrollador <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#">Google</a></li>
                <li><a href="#">GitHub</a></li>
                <li><a href="#">Linkedin</a></li>
                <li><a href="#">Facebook</a></li>
              </ul>
            </li>
          </ul>

        </div>
      </nav>

</div>
