<div class="container-sidebar">
  <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Crea un proyecto
                    </a>
                </li>
                <li>
                    <a href="#">Para ti</a>
                </li>
                <li>
                    <a href="#">Open Source</a>
                </li>
                <li>
                    <a href="#">Desarrollo Web</a>
                </li>
                <li>
                    <a href="#">Desarrollo Mobile</a>
                </li>
                <li>
                    <a href="#">Diseño/UX</a>
                </li>
                <li>
                    <a href="#">SysAdmin/DevOps/QA</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
</div>
